{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>My Status</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Raleway:500,900" rel="stylesheet">
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</head>
<body>
	<div class="page-grid-con">
		<div class="item grid-item-1 blue">
			<span class="greeting-word center"><b>Hello,</b> <span id="sample-color">apa kabar?</span></span>
		</div>
		<div class="item grid-item-3">
			<form method="POST" action="">
				{% csrf_token %}
				<div class="post-con">
					{{ form.description }}
					<input class="button blue white-font" type="submit" name="submit" value="Share">
				</div>
			</form>
		</div>
		<div class="item grid-item-4">
			{% if post_exists %}
				{% for post in posts %}
					<div class="status-con">
						<div>{{ post.date }}</div>
						<div class="status white">
							{{ post.description }}
						</div>
						<a class="nodecor" href="delete_status/{{ post.pk }}">
							<div class="button blue white-font">
								Delete
							</div>
						</a>
					</div>
				{% endfor %}
			{% else %}
				<div class="empty-con-text">
					You didn't have any status yet!
				</div>
			{% endif %}
		</div>
	</div>
</body>
</html>