* {
    text-decoration: none;
    border-width: 0px;
}

body {
	margin: 0;
	font-family: Raleway;
    overflow-x: hidden;
    width: 100vw;
}

.l-google-user-auth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-google__sign-out {
    padding: 9px 20px;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    transition-timing-function: ease-out;
    transition-duration: .2s;
    font-size: .8em;
    
}

.c-google__sign-out:hover {
    box-shadow: 0 0px 6px 0 rgba(0,0,0,.25);
}

.g-signin2--hide {
    display: none;
}

.c-google__sign-out--hide {
    display: none;
}

