* {
    text-decoration: none;
    border-width: 0px;
    color: black;
}

body {
	margin: 0;
	font-family: Raleway;
    overflow-x: hidden;
    width: 100vw;
}

label {
    padding: 3px 4px;
}

table, th, td {
    /* border: 1px solid rgba(0, 0, 0, .3); */
    border-collapse: collapse;
}

th, td {
    height: auto;
    padding: 20px;
    text-align: center;
}

th {
    background-color: #1c3358;
    color: white;
}

table {
    width: 80vw;
    margin-bottom: 100px;
}

tr:nth-child(odd) {
    background-color: #e0e8f3;
}

.c-wall {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    visibility: none;
}

.j-wall__animation {
    animation-name: wall-animation;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes wall-animation {
    10% {
        z-index: 1;
        opacity: .94;
        visibility: visible;
    }

    90% {
        z-index: 1;
        opacity: .94;
        visibility: visible;
    }

    100% {
        z-index: 0;
        opacity: 0;
        visibility: hidden;
    }
}

.c-notif__message {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
    background-color: white;
    opacity: 0;
    visibility: none;
    z-index: -1;
    height: 300px;
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition-duration: .1s;
    transition-timing-function: ease-out;
}

.j-notif__animation {
    animation-name: notif-animation;
    animation-duration: 2s;
}

@keyframes notif-animation {
    10% {
        transform: translateY(-50%, -50%);
        z-index: 1;
        opacity: 1;
        visibility: visible;
    }

    90% {
        transform: translateY(-50%, -50%);
        z-index: 1;
        opacity: 1;
        visibility: visible;
    }

    100% {
        transform: translateY(-50%, -30%);
        z-index: 0;
        opacity: 0;
        visibility: hidden;
    }
}

.j-notif__popup--showup {
    transform: translateY(-50%, -50%);
    z-index: 1;
    opacity: 1;
    visibility: visible;
}

.l-google-user-auth {
    position: absolute;
    top: 20px;
    left: 20px;
}

.g-signin2--hide, .hide {
    display: none;
}

.c-google__sign-out, button[data-type="redirect"] {
    padding: 8px 20px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    transition-timing-function: ease-out;
    transition-duration: .2s;
    font-size: .8em;
    cursor: pointer;
    
}

.c-google__sign-out:hover, button[data-type="redirect"]:hover {
    box-shadow: 0 0px 6px 0 rgba(0,0,0,.25);
}

.c-user__photo {
    height: 60px;
    width: 60px;
}

.l-google-user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.l-user--right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.star-counter-con {
    position: relative;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


.body-con {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.favor-button {
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: transparent;
    background-image: url("/media/icons/blank-star.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center center;
    transition-duration: .4s;
    transition-timing-function: ease-out;
}

.marked-favor-button {
    background-image: url("/media/icons/filled-star.svg");
}

.star-icon {
    height: 60px;
    transition-duration: .4s;
    transition-timing-function: ease-out;
}

.star-icon:hover {
    transform: rotateY(360deg);
}

.counter-number {
    position: absolute;
    font-size: .8em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}

.search-con {
    position: absolute;
    top: 20px;
    right: 20px;
}

.search-input {
    padding: 14px 18px;
}

#search-button {
    padding: 14px 18px; 
}
