* {
	text-decoration: none;
}

body {
	margin: 0;
	font-family: Raleway;
	overflow-x: hidden;
}

label {
	color: white;
}

.white {
	background-color: white;
}

.red {
	background-color: rgb(187, 0, 0);
}

.black {
	background-color: rgb(17, 17, 17);
}

.white-font {
	color: white;
}

.blue-font {
	color: #070130;
}

.loading-screen {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	background-color: #1abc9c;
	z-index: 99;
	text-align: center;
	transition-duration: .3s;
	transition-timing-function: ease-out;
}

.loading-screen-deactive {
	top: -100%;
}

.page-grid-con {
	display: grid;
	height: 200vh;
	width: 100vw;
	grid-template-columns: 40px 150px 1fr 50px 50px 450px 50px 50px 1fr 150px 40px;
	grid-template-rows: 2% 4% 12% 14% 12% 4% 2% 5% 5% 30% 5% 5%;
}

.item {
	position: relative;
}

.grid-item-1 {
	grid-column: 1/12;
	grid-row: 1/13;
}


.change-theme-button {
	background-color: transparent;
	position: relative;
	z-index: 1;
	padding: 10px 15px;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	grid-column: 2/3;
	grid-row: 2/3;
	transition-duration: .2s;
}

.c-subscribe-url {
	background-color: transparent;
	position: relative;
	z-index: 1;
	padding: 10px 15px;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	grid-column: 10/11;
	grid-row: 2/3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.font-red:hover {
	background-color: white;
	color: rgb(187, 0, 0);
}

.font-black:hover {
	background-color: white;
	color: rgb(17, 17, 17);
}

.grid-item-2 {
	grid-column: 6/7;
	grid-row: 4/5;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.accordion-con {
	position: relative;
	z-index: 1;
	grid-column: 4/9;
	grid-row: 9/11;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
}

.accordion-con > div {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center'
}

#accordion .ui-accordion-header {
	min-width: 200px;
	max-width: 300px;
}

#accordion .ui-accordion-content {
	min-width: 200px;
	max-width: 300px;
	max-height: 100px;
	
}


.border-box {
	position: absolute;
	opacity: 0;
	top: 0;
	right: 0;
	border: 1px solid white;
	width: 0;
	height: 0;
	transition-duration: .3s;
	transition-timing-function: ease-out;
}

.border-box-active {
	height: 100%;
	width: 100%;
	opacity: 1;
}

.name {
	font-size: 2em;
	font-weight: bold;
}

/* loading-screen */
.sk-folding-cube {
	margin: 20px auto;
	width: 40px;
	height: 40px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
			transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
			transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
			animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
			transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
			transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
			transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
			animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
			animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
	0%, 10% {
	  -webkit-transform: perspective(140px) rotateX(-180deg);
			  transform: perspective(140px) rotateX(-180deg);
	  opacity: 0; 
	} 25%, 75% {
	  -webkit-transform: perspective(140px) rotateX(0deg);
			  transform: perspective(140px) rotateX(0deg);
	  opacity: 1; 
	} 90%, 100% {
	  -webkit-transform: perspective(140px) rotateY(180deg);
			  transform: perspective(140px) rotateY(180deg);
	  opacity: 0; 
	} 
  }
  
  @keyframes sk-foldCubeAngle {
	0%, 10% {
	  -webkit-transform: perspective(140px) rotateX(-180deg);
			  transform: perspective(140px) rotateX(-180deg);
	  opacity: 0; 
	} 25%, 75% {
	  -webkit-transform: perspective(140px) rotateX(0deg);
			  transform: perspective(140px) rotateX(0deg);
	  opacity: 1; 
	} 90%, 100% {
	  -webkit-transform: perspective(140px) rotateY(180deg);
			  transform: perspective(140px) rotateY(180deg);
	  opacity: 0; 
	}
  }


@media only screen and (max-width: 1000px) {
	.accordion-con {
		flex-flow: column nowrap;
	}
}