{% load static %}

body {
	margin: 0;
	font-family: Raleway;
	overflow-x: hidden;
}

.white {
	background-color: white;
}

.blue {
	background-color: #070130;
}

.white-font {
	color: white;
}

.blue-font {
	color: #070130;
}

.page-grid-con {
	display: grid;
	grid-gap: 20px;
}

.item {
	position: relative;
}

.grid-item-1 {
	grid-column: 1/8;
	grid-row: 1;
	height: 20vh;
}

.grid-item-3 {
	grid-column: 3/7;
	grid-row: 2;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 5px;
	background-color: #eeedf2;
}

.grid-item-4 {
	grid-column: 3/7;
	grid-row: 3;
	padding: 20px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	background-color: #eeedf2;
	height: 100vh;
}

.center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.greeting-word {
	position: absolute;
	font-size: 1.3em;
	color: white;
}

#sample-color {
	color: #cbe00f;
}

.post-con {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
}

.status-post {
	font-family: Raleway;
	overflow: hidden;
	box-sizing: border-box;
	width: 60%;
	height: 50px;
	border-radius: 5px; 
	padding: 15px;
	margin-bottom: 5px;
	text-decoration: none;
	border-width: 0;
	transition-duration: .3s;
	transition-timing-function: ease-out;
}

.status-post:focus {
	height: 80px;
	width: 100%;
}

.button {
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	width: 80px;
	padding: 4px 10px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	font-size: 13px;
	border-width: 0;
	transition-duration: .1s;
}

.button:hover {
	background-color: #0d034c;
}

.del-button {
	width: 100px;
}

.status-con {
	margin-bottom: 20px;
}

.status {
	font-size: 0.9em;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
}

.empty-con-text {
	text-align: center;
}

.nodecor {
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
	.grid-item-3 {
		grid-column: 2/7;
		background-color: red;
	}

	.grid-item-4 {
		grid-column: 2/7;
	}
}
