{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta name="google-signin-client_id" content="705082240504-7d7j8p2jtai146pgl6vte9ucggddrp70.apps.googleusercontent.com">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login-style.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/login-script.js' %}"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway:500,900" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body class="body-con">
    <div class="l-google-user-auth">
		{% csrf_token %}
        <div class='g-signin2' data-onsuccess='onSignIn'></div>
        <a class='l-google__sign-out c-google__sign-out--hide' href='#' onclick='signOut();'><div class='c-google__sign-out'>Sign Out</div></a>
    </div>
</body>
</html>